.tagRow {
    display: flex;
    flex-flow: row wrap;
}

.tag {
    display: block;
    padding: 0.13em 0.25em;
    margin-right: 0.5em;
    border: 1px solid black;
    border-radius: 2px;
}

.postLink {
    cursor: pointer;
    max-width: 100%;
    margin: 0;
}

.postListWrapper ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.postListWrapper ul li {
    margin: 0.5em;
    padding: 0.5em;
    list-style: none;
    /* display: block; */
    min-width: calc(320px - 2.5em);
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 8px;
    border: 0.25em solid rgb(166, 215, 221, 1);
}