.background-image {
    position: relative;
    width: 100%;
    z-index: -1 !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-headline {
    text-align: center;
    font-size: 300%;
    padding: 3em 0em 2em 0em;
    margin: 0;
    font-family: "Raleway";
}

@media (max-width: 767px) {
    .hero-headline {
        font-size: 200%;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}