.editButton {
  position: relative;
  padding: 0.1em 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 2px;
}

.editButton:hover {
  background-color: rgba(63, 90, 144, 0.47);
}

.postAdminMenu {
  position: absolute;
  right: 1em;
}

.blogList {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 66%;
}

li.blogWrapper {
  display: block;
  border-radius: 5px;
}

.blogHeading {
  margin: 0;
  padding: 0.3rem 0;
}

.blogBody {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0.3rem 0;
}

li.blogWrapper {
  display: block;
  margin-top: 1.5em;
}

li.blogWrapper > p {
  background-color: rgba(63, 90, 144, 0.2);
  padding: 1em 0.5em 1em 3em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li.blogWrapper > h3 {
  background-color: rgba(63, 90, 144, 0.47);
  padding: 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* :nth-child(odd) */
